<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Car</title>
</head>
<body>

    <h1>Edit <%= car.name %></h1>
    <form action="/cars/<%= car._id %>?_method=PUT" method="POST">
        <div>
            <label for="name">Car Name</label>
            <input type="text" name="name" id="name" value="<%= car.name %>" required />
        </div>
        <div>
            <label for="price">Price</label>
            <input type="text" name="price" id="price" value="<%= car.price %>" required />
        </div>
        <input type="submit" value="Update Car" />
    </form>
    <a href="/cars">Back to Cars</a>
    
</body>
</html>
